@import "tailwindcss";

body {
    background-color: rgb(255, 255, 255);
}

.remove-arrows::-webkit-outer-spin-button,
.remove-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}